.image img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
}

.ColorFooter {
	background-color: #b94e5e;
	font-weight: bold;
	font-style: normal;
}

.ColorFooter li{
	display: inline-block;
}

.ColorFooter p {
	color: white;
}


.ColorFooter a {
	width: 45px;
	height: 45px;
	text-align: center;
	display: inline-block;
	line-height: 45px;
	background-color: #fff;
	border-radius: 50%;
	transition: all 0.5s;
	color: #b94e5e;
	font-size: 22px;
	/* Estas linea sirve para el tooltip */
	position: relative;
}

.ColorFooter a:hover {
	background-color: #80333e;
}

.ColorFooter li .tooltiptextMail {
  visibility: hidden;
  width: 200px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;
  font-size: 15px;
  text-transform: uppercase;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  margin-left: -60px;
}

.ColorFooter li:hover .tooltiptextMail {
  visibility: visible;
}

.ColorFooter li .tooltiptextInstagram {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  font-size: 15px;
  text-transform: uppercase;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  margin-left: 30px;
}

.ColorFooter li:hover .tooltiptextInstagram {
  visibility: visible;
}

.ColorFooter li .tooltiptextWp {
  visibility: hidden;
  width: 150px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0px 0;
  font-size: 15px;
  text-transform: uppercase;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 50%;
  margin-left: 80px;
}

.ColorFooter li:hover .tooltiptextWp {
  visibility: visible;
}

.ColorFooter a .wp{
	width: 45px;
	height: 45px;
	text-align: center;
	display: inline-block;
	line-height: 45px;
	background-color: #fff;
	border-radius: 50%;
	transition: all 0.5s;
	color: #5cd65c;
	font-size: 22px;
}


.ColorFooter a:hover .wp {
	background-color: #80333e;
}
	
.fa-lightbulb-o {
    color: white;
    font-size: 100px;
}

.RotacionImagen {
   -webkit-transform: rotate(360deg);
   -moz-transform: rotate(360deg);
   -o-transform: rotate(360deg);
   -ms-transform: rotate(360deg);
   transform: rotate(360deg);
}

.MargenSeccion1 {
	padding-right: 0px;
    padding-left: 0px;
}